.wht-influencer {
    margin-top: 205px;
    margin-bottom: 160px;

    &-left {
        display: inline-block;

        h1 {
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            font-family: 'Barlow', sans-serif;
            color: #212b36;
        }

        p {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.47;
            letter-spacing: normal;
            font-family: 'Barlow', sans-serif;
            color: #637381;
            margin-top: 10px;
        }
    }

    &-center {
        display: inline-block;
        width: 1px;
        height: 340px;
        object-fit: contain;
        opacity: 0.1;
        background-color: #000000;
    }

    &-right {
        display: inline-block;

        h1 {
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            font-family: 'Barlow', sans-serif;
            color: #212b36;
        }

        p {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.47;
            letter-spacing: normal;
            font-family: 'Barlow', sans-serif;
            color: #637381;
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .wht-influencer {
        &-center {
            display: none;
        }

        &-right {
            margin-top: 40px;
        }
    }
}