<div class="container">
    <div class="row">
        <div class="menu">
            <div class="col-lg-2">
                <div class="menu_logo">
                    <a href=""><img src="assets/img/logo.svg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="menu_items menu_items--right">
                    <div class="menu_link">
                        <a href="#">
                            <p>KURUMSAL</p>
                        </a>
                    </div>
                    <div class="menu_link">
                        <a href="#">
                            <p>NASIL ÇALIŞIR</p>
                        </a>
                    </div>
                    <div class="menu_link">
                        <a href="#">
                            <p>BÖLGELER</p>
                        </a>
                    </div>
                    <div class="menu_link">
                        <a href="#">
                            <p>MERAK ETTİKLERİNİZ</p>
                        </a>
                    </div>
                    <div class="menu_link">
                        <a href="#">
                            <p>I</p>
                        </a>
                    </div>
                    <div class="menu_link">
                        <a href="#">
                            <p>İCON</p>
                        </a>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</div>
</div>
</div>