.menu {
    background-color: $main-color;
     display: flex;
    padding: 16px;
    font-family: $second-font;
    color: $menu_text--color;
    font-weight: 500;
    font-style: normal;

    &_items {
        display: flex;

    }

    &_items--right {
        margin-left: auto;

    }

    &_link {
        padding-right: 8px;
    }

}