.Promotions {
    margin-top: 120px;
margin-bottom: 122px;
    &-text {
        margin-bottom: 120px;

        h1 {
            font-size: 32px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            font-family: 'Barlow', sans-serif;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #212b36;
        }

    }

    .adws-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 62px;
        &-img {
            font-family: 'Barlow', sans-serif;
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;
            p {
                position: absolute;
                top:76%;
                font-size: 0.9375rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.13;
                letter-spacing: normal;
                color: #ffffff;
                text-align: center;
            }
        }

        button {
            border-radius: 17px;
            background-color: #ee7259;
            width: 162px;
            height: 34px;
            object-fit: contain;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.13;
            letter-spacing: normal;

            color: #ffffff;
            margin-top: 20px;
            background-image: ur(link );
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
   
    .Promotions {
        .adws-group {
            &-img {
                p{
                    top:50%;
                }
            }
        }
    }


}